Datasets/kowikitext.train.txt
Datasets/train.txt
Datasets/val.txt
Checkpoints/model_epoch_1.pt
/Checkpoints/
/HF_token.txt
/HuggingFace_Upload/Pretrain/raptor-hf/
/Finetune/lora_finetuned_koVast/
/HuggingFace_Upload/Finetune/hf_repo/
__pycache__/
*.pyc
